# Ignore virtual environments
RNN_ENV/

# Ignore Python cache
*.pyc
*.pyo

# Ignore model files
*.pkl
*.keras
lstm_sensor_model.keras
saved_rnn_model.keras

*.pkl

# Ignore system files
.DS_Store
Thumbs.db


